<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a class="bg-brand/10 text-brand rounded-full px-4 py-1 text-lg font-medium" href="/">
        CBTea 🍵
      </a>
    </div>
  </div>
</header>
<main class="px-4 sm:px-6 md:py-4 lg:px-8 lg:py-20">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
