<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title><%= assigns[:page_title] || "CBTea · The Cognitive Behavioral Therapy App" %></.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 p-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="leading-6 text-zinc-900 font-semibold hover:text-zinc-700 mr-2 lg:mr-4"
          >
            Create an account
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_in"} class="leading-6 text-zinc-900 font-semibold hover:text-zinc-700">
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
